:host {
    input[type="search"] {
        padding: var(--padding-sm) var(--padding-lg);
        border-radius: var(--border-lg);
        border: 1px solid var(--bg-color-hover);
        background-color: var(--bg-color);
        color: var(--text-color);
        transition: border-color var(--transition-normal),
            box-shadow var(--transition-normal);
    }

    input[type="search"]:focus {
        outline: none;
        border-color: var(--bg-icon-hover);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    }

    input[type="search"]::placeholder {
        color: var(--text-color, #999);
        opacity: 0.6;
    }
    
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 15px;
        padding: 10px 20px;
        background-color: var(--bg-header);


        .header-rows {
            display: flex;
            align-items: center;
            gap: 10px;

            .theme-icon {
                cursor: pointer;
                width: 1.7rem;
                color: var(--text-color);
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: var(--text-color-hover);
                }
            }

            .header-nav-list {
                ul {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    gap: 8px;

                    li {
                        a {
                            text-decoration: none;
                            border-radius: var(--border-lg);
                            color: var(--text-color);
                            padding: var(--padding-md);
                            transition: color 0.3s ease, background-color 0.3s ease;

                            &:hover {
                                background-color: var(--bg-color-hover);
                                color: var(--text-color-hover);

                                fa-icon {
                                    color: var(--bg-icon-hover);
                                }
                            }
                        }
                    }
                }
            }
        }

        .iconTheme {
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: var(--bg-icon-hover);
            }
        }

        .overlay-invisible {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.200);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
        }
    }

}