.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    padding: 10px 20px;
    background-color: var(--bg-header);

    .header-rows {
        display: flex;
        align-items: center;
        gap: 10px;

        .theme-icon {
            cursor: pointer;
            width: 1.7rem;
            color: var(--text-color);
            transition: color 0.3s ease-in-out;

            &:hover {
                color: var(--text-color-hover);
            }
        }

        .header-nav-list {
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                gap: 8px;

                li {
                    a {
                        text-decoration: none;
                        border-radius: var(--border-lg);
                        color: var(--text-color);
                        padding: var(--padding-md);
                        transition: color 0.3s ease-in-out;

                        &:hover {
                            background-color: var(--bg-color-hover);
                            color: var(--text-color-hover);
                        }
                    }
                }
            }
        }
        
        .dropdown-avatar {
            display: flex;
            align-items: flex-end;
            position: relative;
            .dropdown-menu {
                position: absolute;
                top: -100%;
                right: 0%;
                background-color: var(--bg-color);
                border: var(--border-sm) solid var(--bg-btn-primary);
                border-radius: var(--border-lg);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                min-width: 150px;
                z-index: 9999;

                li {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    &:hover {
                        border-radius: var(--border-lg);
                        background-color: var(--bg-color-hover);
                    }
                    a {
                        min-width: 100%;
                        padding: 0 var(--padding-md) 0 var(--padding-md);
                        text-decoration: none;
                        color: var(--text-color);
                        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                        &:hover {
                            color: var(--text-color-hover);
                        }
                    }
                }
            }
        }
    }
}

.overlay-invisible {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.200);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}