:host {
    .img-wrapper {
        position: relative;
        display: flex;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 16px 32px #4949cc1a;
        cursor: pointer;
        animation: infinite 1s border_animation;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .camera-wrapper {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 2rem;
        height: 2rem;
        padding-bottom: 2px;
        background-color: #272727;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes border_animation {
    0% {
        box-shadow: 0 16px 32px #4949cc1a;
    }

    50% {
        box-shadow: 0 16px 32px #3c27751a;
    }

    100% {
        box-shadow: 0 16px 32px #4949cc1a;
    }

}