<div [class.has-error]="!isEmailValid() && internalControl.value && type === 'email'">
    <span>
        <fa-icon class="left-icon" [icon]="currentIcon"></fa-icon>
        @if(type === 'email') {
        <input class="auth-input" [class.input-error]="!isEmailValid() && internalControl.value" [type]="type"
            [placeholder]="placeholder" [formControl]="internalControl" (input)="onInput($event)" (blur)="onBlur()">
        } @else if(type === 'password' || placeholder === 'Password') {
        <input class="auth-input" [type]="type" [class.input-error]="!isPasswordValid() && internalControl.value" [placeholder]="placeholder" [formControl]="internalControl"
            (input)="onInput($event)" (blur)="onBlur()">
        } @else {
        <input class="auth-input" [type]="type" [placeholder]="placeholder" [formControl]="internalControl"
            (input)="onInput($event)" (blur)="onBlur()">
        }
        @if(placeholder === 'Password') {
        <fa-icon class="toggle-password-icon" [icon]="isPasswordVisible ? iconMap['eyeSlash'] : iconMap['eye']"
            (click)="togglePasswordVisibility()"></fa-icon>
        }
        @if(!isEmailValid() && internalControl.value && type === 'email') {
        <span class="error-message">{{ errorMessage() }}</span>
        }
        @if(!isPasswordValid() && internalControl.value && type === 'password') {
        <span class="error-message">{{ errorMessage() }}</span>
        }
    </span>
</div>