@import "tailwindcss";

/* Do not patch anyone style, only add new variables, pls. */

:root {
    --bg-color: #f1f1f1;
    --bg-secondary: #f9f9f9;
    --bg-color-hover: #f5f5f5;
    --text-color: #1b1b1b;
    --text-color-hover: #333333;
    --text-color-invert: #f9f9f9;
    --bg-btn-primary: #252525;
    --bg-btn-primary-hover: #0a0a0a;
    --bg-card-hover: #efefef;
    --bg-btn-card: #ffffff;

    --bg-icon-main: #643bfa;;
    --bg-icon-main-hover: #6c4be2;;


    --padding-sm: 4px;
    --padding-md: 8px;
    --padding-mdlg: 12px;
    --padding-lg: 16px;

    --border-sm: 2px;
    --border-md: 4px;
    --border-mdlg: 6px;
    --border-lg: 8px;

    --text-color-white: #fafafa;
    --text-color-dark: #1b1b1b;

    --gap-md: 0.6rem;
    --rain-drop-color: rgba(3, 3, 3, 0.877);
}

:root.dark-mode {
    --bg-color: #141414;
    --bg-secondary: #272727;
    --bg-color-hover: #2d2d2d;
    --bg-card-hover: #0f0f0f;
    --text-color: #fafafa;
    --text-color-hover: #e0e0e0;
    --text-color-invert: #1a1a1a;
    --bg-btn-primary: #0f0f0f;
    --bg-btn-primary-hover: #5f5f5f;
    --bg-btn-card: #2d2d2d;
    
    --bg-icon-main: #fcd93d;
    --bg-icon-main-hover: #e0c54b;
    
    --rain-drop-color: rgba(255, 255, 255, 0.8);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.mat-mdc-dialog-surface {
  background-color: var(--bg-color) !important; 
}

.warning {
    background-color: #f5ce64 !important;
    color: #0a0a0a;
    button {
        background-color: #d6b24e !important;
        color: #131313 !important;
        &:hover {
            background-color: #ad8b2c !important;
        }
    }
}