@import "tailwindcss";

/* Do not patch anyone style, only add new variables, pls. */

:root {
    --bg-color: #f5e0dc;
    --bg-color-hover: #f2cdcd;
    --text-color: #313244;
    --text-color-hover: #45475a;
    --bg-btn-primary: #f5c2e7;
    --bg-btn-primary-hover: #f2cdcd;
    --bg-card-hover: #e0def4;
    --bg-btn-card: #45475a;


    --padding-sm: 4px;
    --padding-md: 8px;
    --padding-mdlg: 12px;
    --padding-lg: 16px;

    --border-sm: 2px;
    --border-md: 4px;
    --border-lg: 8px;

    --gap-md: 0.6rem
}

:root.dark-mode {
    --bg-color: #2a2836;
    --bg-color-hover: #3d3547;
    --bg-card-hover: #141414;
    --text-color: #cdd6f4;
    --text-color-hover: #bac2de;
    --bg-btn-primary: #b794f6;
    --bg-btn-primary-hover: #a687e8;
    --bg-btn-card: #ffffff80;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.mat-mdc-dialog-surface {
  background-color: var(--bg-color) !important; 
}