@import "tailwindcss";

/* Do not patch anyone style, only add new variables, pls. */

:root {
    --bg-color: #ffffff;
    --bg-secondary: #f9f9f9;
    --bg-color-hover: #f5f5f5;
    --text-color: #1a1a1a;
    --text-color-hover: #333333;
    --bg-btn-primary: #252525;
    --bg-btn-primary-hover: #0a0a0a;
    --bg-card-hover: #efefef;
    --bg-btn-card: #ffffff;


    --padding-sm: 4px;
    --padding-md: 8px;
    --padding-mdlg: 12px;
    --padding-lg: 16px;

    --border-sm: 2px;
    --border-md: 4px;
    --border-mdlg: 6px;
    --border-lg: 8px;

    --gap-md: 0.6rem
}

:root.dark-mode {
    --bg-color: #141414;
    --bg-secondary: #272727;
    --bg-color-hover: #2d2d2d;
    --bg-card-hover: #0f0f0f;
    --text-color: #ffffff;
    --text-color-hover: #e0e0e0;
    --bg-btn-primary: #0f0f0f;
    --bg-btn-primary-hover: #5f5f5f;
    --bg-btn-card: #2d2d2d;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.mat-mdc-dialog-surface {
  background-color: var(--bg-color) !important; 
}