@import "tailwindcss";

/* Do not patch anyone style, only add new variables, pls. */

:root {
    --bg-color: #f1f1f1;
    --bg-secondary: #f9f9f9;
    --bg-color-hover: #f5f5f5;
    --text-color: #1b1b1b;
    --text-color-hover: #333333;
    --text-color-invert: #f9f9f9;
    --bg-btn-primary: #252525;
    --bg-btn-primary-hover: #0a0a0a;
    --bg-card-hover: #efefef;
    --bg-btn-card: #ffffff;

    --bg-icon-main: #643bfa;;
    --bg-icon-main-hover: #6c4be2;

    --base-skeleton-color: #f0f0f0;
    --linear-skeleton-background: linear-gradient(45deg, #ddd 25%, #eee 50%, #ddd 75%);

    --border-color: #1f1f1f;

    --padding-sm: 4px;
    --padding-md: 8px;
    --padding-mdlg: 12px;
    --padding-lg: 16px;

    --border-sm: 2px;
    --border-md: 4px;
    --border-mdlg: 6px;
    --border-lg: 8px;


    --text-color-white: #fafafa;
    --text-color-dark: #1b1b1b;

    --gap-md: 0.6rem;
    --rain-drop-color: rgba(3, 3, 3, 0.877);

    --error-color: red
}

:root.dark-mode {
    --bg-color: #141414;
    --bg-secondary: #272727;
    --bg-color-hover: #2d2d2d;
    --bg-card-hover: #0f0f0f;
    --text-color: #fafafa;
    --text-color-hover: #e0e0e0;
    --text-color-invert: #1a1a1a;
    --bg-btn-primary: #0f0f0f;
    --bg-btn-primary-hover: #5f5f5f;
    --bg-btn-card: #2d2d2d;

    --bg-icon-main: #fcd93d;
    --bg-icon-main-hover: #e0c54b;

    --base-skeleton-color: #404040;
    --linear-skeleton-background: linear-gradient(45deg, #3b3b3b 25%, #535353 50%, #6f6f6f 75%);

    --rain-drop-color: rgba(255, 255, 255, 0.8);

    --border-color: #3d3c3c;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.mat-mdc-dialog-surface {
  background-color: var(--bg-color) !important;
}

.warning {
    background-color: #fde293 !important;
    color: #5c3d05;

    button {
        background-color: #facc15 !important;
        color: #422006 !important;
        font-weight: 600;

        &:hover {
            background-color: #eab308 !important;
        }
    }
}

.success {
    background-color: #b7e4c7 !important;

    color: #1b4332;

    button {
        background-color: #95d5b2 !important;
        color: #1b4332 !important;
        border: none;
        font-weight: 600;

        &:hover {
            background-color: #74c69d !important;
        }
    }
}

.error {
    background-color: #ffcccb !important;

    color: #5e0b0b;

    button {
        background-color: #ff8a8a !important;
        color: #5e0b0b !important;
        border: none;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #ff5c5c !important;
        }
    }
}


.skeleton-loader {
  height: 24px;
  width: 80%;
  background: var(--linear-skeleton-background);
  background-size: 200% 200%;
  
  animation: shimmer 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  
  overflow: hidden;
  position: relative;
  border-radius: 4px; 
}

@keyframes shimmer {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0;
  }
}