:host {
    display: flex;
    flex-direction: column;
    .carousel-wrapper {
        padding: 0px 24px;

        .title-wrapper {
            display: flex;
            align-items: center;
            gap: 4px;
            h2 {
                font-size: 1.4rem;
            }
        }
    }
}