<app-header></app-header>

@if(isLoading()) {
<div class="loading-screen">
    <div class="loading-spinner"></div>
    <p>Loading home...</p>
</div>
}

@if(!isLoading()) {
    <app-hero-slider [slides]="heroSlides()" [autoPlayInterval]="6000" style="padding-bottom: 10px;" />

    @if (recommendations().length > 0) {
    <section class="carousel-wrapper" style="width: 100%;">
        <div class="title-wrapper">
            <fa-icon [icon]="faStar"></fa-icon>
            <h2>Recommended for you</h2>
        </div>
        <app-carousel [items]="recommendations()"></app-carousel>
    </section>
    }

    <div #sentinelRating class="carousel-sentinel"></div>
    @if (averageRating().length > 0) {
    <section class="carousel-wrapper" style="width: 100%;">
        <div class="title-wrapper">
            <fa-icon [icon]="faWater"></fa-icon>
            <h2>Best Rating</h2>
        </div>
        <app-carousel [items]="averageRating()"></app-carousel>
    </section>
    }

    <div #sentinelViewers class="carousel-sentinel"></div>
    @if (moreViewers().length > 0) {
    <section class="carousel-wrapper" style="width: 100%;">
        <div class="title-wrapper">
            <fa-icon [icon]="faBolt"></fa-icon>
            <h2>More viewers</h2>
        </div>
        <app-carousel [items]="moreViewers()"></app-carousel>
    </section>
    }

    <div #sentinelLatest class="carousel-sentinel"></div>
    @if (latestRelease().length > 0) {
    <section class="carousel-wrapper" style="width: 100%;">
        <div class="title-wrapper">
            <fa-icon [icon]="faBolt"></fa-icon>
            <h2>Latest release</h2>
        </div>
        <app-carousel [items]="latestRelease()"></app-carousel>
    </section>
    }

    <div #sentinelOvas class="carousel-sentinel"></div>
    @if (ovasRelease().length > 0) {
    <section class="carousel-wrapper" style="width: 100%;">
        <div class="title-wrapper">
            <fa-icon [icon]="faBolt"></fa-icon>
            <h2>OVAS</h2>
        </div>
        <app-carousel [items]="ovasRelease()"></app-carousel>
    </section>
    }

    @for (carousel of infiniteCarousels(); track carousel.id) {
    <section class="carousel-wrapper" style="width: 100%;">
        <div class="title-wrapper">
            <fa-icon [icon]="carousel.icon"></fa-icon>
            <h2>{{ carousel.title }}</h2>
        </div>
        <app-carousel [items]="carousel.items"></app-carousel>
    </section>
    }

    <div #sentinelBottom class="carousel-sentinel">
        @if (isLoadingMore()) {
        <div class="infinite-loading">
            <div class="loading-spinner"></div>
        </div>
        }
    </div>
}
